#search_filter_home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}
/* search input */
.search_input{
  width: 350px;
}

#search_filter_left {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.search_title {
  font-size: 15px;
  cursor: pointer;
}

/* book container */
#book_render {
  width: 90%;
  margin: 10px auto;
}

/* heading */
.books_heading {
  font-size: 18px;
}

@media (max-width:480px) {
  .books_renderer{
    flex-direction: column;
    align-items: center;
  }
  .book_card{
    width:250px;
  }
}
