#search_filter_home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}

#search_filter_left {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.search_title {
  font-size: 15px;
  cursor: pointer;
}

.sort_by {
  display: flex;
  align-items: center;
  cursor: pointer;
}

#book_render {
  width: 90%;
  margin: 10px auto;
}

.books_heading {
  font-size: 18px;
}
